<header>
    <h1>Emilie Gignier</h1>
    <nav>
        <ul>
            <li><a href="/">Accueil</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/seminaire">Seminaire</a></li>
            <li><a href="/alphaboxe">Alphaboxe</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
</header>
