<div id="board" style="width: 400px"></div>
<button id="startBtn">Commencer la partie</button>
<p id="operation-math">Résolvez l'opération suivante pour déplacer une pièce :</p>
<input type="text" id="reponse" placeholder="Votre réponse">
<button id="validateMove">Valider le déplacement</button>
<p id="alphaboxe-message" style="display:none;"></p>

<script src="/js/chessgame.js"></script>
